.colorPaper {
  &::after {
    position: absolute;
    content: '';
    top: -28px;
    left: -28px;
    height: 0;
    width: 0;
    border-width: 24px 24px 24px 24px;
    border-style: solid;
    border-color: #fff;
    transform: rotate3d(0, 0, 1, 45deg);
  }
  &::before {
    position: absolute;
    content: '';
    bottom: -28px;
    right: -28px;
    height: 0;
    width: 0;
    border-width: 24px 24px 24px 24px;
    border-style: solid;
    border-color: #fff;
    transform: rotate3d(0, 0, 1, 45deg);
  }
}
