@import '../Foundation/variable';
@import '../Foundation/mixin';

.root {
  color: $darkGreen;
  text-align: center;
  font-size: $titleSizeKing;
  font-family: $fontFamilyTitle;
  letter-spacing: 0.1em;
}
.text {
  position: relative;
  &::before {
    content: '- ' attr(data-subja) ' -';
    position: absolute;
    bottom: -12px;
    right: 50%;
    transform: translate3d(50%, 0, 0);
    font-size: $fontSizeSm;
    word-break: keep-all;
    white-space: nowrap;
    letter-spacing: 0.1em;
  }
}

@include media() {
  .root {
    padding-bottom: 24px;
    margin-bottom: 36px;
  }
}

@include media('sm') {
  .feature-name {
    font-size: $titleSizeXl;
    padding: 20px 28px 36px;
  }
  .feature-name-text {
    &::before {
      bottom: -16px;
    }
  }
}
