@import '../Foundation/variable';
.footer {
  position: relative;
  width: 100%;

  background: radial-gradient(
    circle,
    lighten($black, 15%) 0 10%,
    $black 80% 100%
  );
  color: $white;
  padding: 40px 24px;
}
