@import '../Foundation/variable';
@import '../Foundation/mixin';

.mission {
  font-family: $fontFamilyTitle;
  display: flex;
  align-items: flex-start;
  line-height: 1;
  // gap: 4px;
}
.fixed {
  flex-shrink: 0;
}
.main-title {
  font-size: $titleSizeKing * 1.5;
  display: block;
  letter-spacing: 0.1em;
}
.sub-title {
  display: block;
  font-size: $fontSizeSm;
  margin-top: -4px;
}
.index {
  font-size: $titleSizeKing * 2.2;
  display: block;
  position: relative;
  top: -4px;
}

@include media('lg') {
  .main-title {
    font-size: $titleSizeKing * 1.2;
    letter-spacing: 0.1em;
  }
  .sub-title {
  }
  .index {
    font-size: $titleSizeKing * 1.8;
  }
}

@include media('sm') {
  .mission {
    justify-content: center;
  }
  .main-title {
    // letter-spacing: 0.04em;
  }
}
