@import '../Foundation/variable';
@import '../Foundation/mixin';
$assetPath: 'https://asset.work-manager.site/assets';

.root {
  background: $green;
  height: 100%;
  padding: $headerHeight 20px 0;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 100%;
}

.catch-copy {
  letter-spacing: 0.1em;
  text-align: center;
  font-size: $titleSizeMax;
  line-height: 1.25;
  font-family: $fontFamilyTitle;
  margin-bottom: 32px;
}

.main {
  font-family: $fontFamilyRound;
  text-align: center;
  background: $white;
  color: $green;
  box-shadow: $shadow2;
  font-size: $titleSizeBasis;
  padding: 20px 12px;
  max-width: 664px;
  margin: 0 auto 28px;
  position: relative;
  transition: $transitionBasis;
  border-radius: 8px;
  // animation: ukuki 3s cubic-bezier(0.2, -0.6, 0.2, 0) forwards infinite;
}

.image {
  width: 250px;
  margin: 0 auto;
  height: 250px;
  background-image: url('#{$assetPath}/image_email_campaign.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.notification-icon {
  position: absolute;
  top: 0;
  right: -76px;
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  border: 3px solid $green;
  display: flex;
  background-size: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $yellow;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(-100%, -50%, 0);
    // box-shadow: $shadow2;
    width: 0;
    height: 0;
    border-width: 7px 18px 7px 0;
    border-style: solid;
    border-color: transparent transparent transparent $yellow;
  }
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(-100%, -50%, 0);
    // box-shadow: $shadow2;
    width: 0;
    height: 0;
    border-width: 7px 18px 7px 0;
    border-style: solid;
    border-color: transparent transparent transparent $green;
  }

  &.--schedule {
    background-image: url('#{$assetPath}/icon_email-outline.svg');
    top: 80px;
    left: -84px;
    right: initial;
    &::after {
      top: 50%;
      right: 6px;
      left: initial;
      border-width: 7px 0 7px 18px;
      transform: translate3d(100%, -50%, 0);
    }
    &::before {
      top: 50%;
      right: 6px;
      left: initial;
      border-width: 7px 0 7px 18px;
      transform: translate3d(calc(100% + 7px), -50%, 0);
    }
  }
  &.--task {
    background-image: url('#{$assetPath}/icon_email-outline.svg');
    top: 40px;
    &::after {
      top: 75%;
      transform: translate3d(calc(-100% + 9px), calc(-50% - 4px), 0)
        rotate3d(0, 0, 1, -20deg);
      border-color: transparent $yellow transparent transparent;
    }
    &::before {
      top: 75%;
      transform: translate3d(calc(-100% + 1px), calc(-50% - 1px), 0)
        rotate3d(0, 0, 1, -21deg);
      border-color: transparent $green transparent transparent;
    }
  }
  &.--chat {
    background-image: url('#{$assetPath}/icon_email-outline.svg');
    top: 140px;
    &::after {
      top: 25%;
      transform: translate3d(calc(-100% + 9px), calc(-50% + 3px), 0)
        rotate3d(0, 0, 1, 21deg);
      border-color: transparent $yellow transparent transparent;
    }
    &::before {
      top: 25%;
      transform: translate3d(calc(-100% + 1px), -50%, 0)
        rotate3d(0, 0, 1, 21deg);
      border-color: transparent $green transparent transparent;
    }
  }
}

.points {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: -8px;
}
.point {
  margin: 8px;
  flex-shrink: 0;
}
.item {
  width: 120px;
  height: 120px;
  padding: 12px;
  border-radius: $radiusBasis * 2;
  background: $yellow;
  box-shadow: $shadow2;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__icon {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-bottom: 8px;
    background-image: url('#{$assetPath}/icon_schedule.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &.--minutes {
      background-image: url('#{$assetPath}/icon_minutes.svg');
    }
    &.--task {
      background-image: url('#{$assetPath}/icon_task.svg');
    }
    &.--chat {
      background-image: url('#{$assetPath}/icon_chat.svg');
    }
    &.--time {
      background-image: url('#{$assetPath}/icon_time.svg');
    }
  }

  &__text {
    text-align: center;
    color: $green;
    font-family: $fontFamilyRound;
    font-size: $fontSizeXs;
    line-height: 1.25;
    height: 32px;
    white-space: pre-line;
    &.--priority {
      font-size: $titleSizeBasis * 1.15;
    }
  }
}
@include media() {
  .points {
    justify-content: center;
  }
  .catch-copy {
    font-size: $titleSizeKing;
  }
}

@include media('sm') {
  .catch-copy {
    display: none;
    // margin-bottom: 8px;
  }
  .image {
    width: 180px;
    height: 180px;
  }

  .main {
    font-size: $fontSizeBasis;
    margin: 0 auto 8px;
  }
  .notification-icon {
    width: 44px;
    height: 44px;
    background-size: 20px;
    &.--schedule {
      top: initial;
      bottom: 20px;
      left: -24px;
      right: initial;
      &::after {
        top: 25%;
        right: 0;
        transform: translate3d(calc(100% - 10px), calc(-100% + 5px), 0)
          rotate3d(0, 0, 1, -40deg);
      }
      &::before {
        top: 25%;
        right: 0;
        transform: translate3d(calc(100% - 4px), calc(-100%), 0)
          rotate3d(0, 0, 1, -40deg);
      }
    }
    &.--task {
      background-image: url('#{$assetPath}/icon_email-outline.svg');
      top: 0;
      right: 0;
      &::after {
        top: 85%;
        transform: translate3d(calc(-100% + 12px), calc(-50% - 1px), 0)
          rotate3d(0, 0, 1, -45deg);
      }
      &::before {
        top: 85%;
        transform: translate3d(calc(-100% + 7px), calc(-50% + 4px), 0)
          rotate3d(0, 0, 1, -45deg);
      }
    }
    &.--chat {
      background-image: url('#{$assetPath}/icon_email-outline.svg');
      top: initial;
      bottom: 16px;
      right: -32px;
      &::after {
        top: 10%;
        transform: translate3d(calc(-100% + 11px), calc(-50% + 6px), 0)
          rotate3d(0, 0, 1, 32deg);
        border-color: transparent $yellow transparent transparent;
      }
      &::before {
        top: 10%;
        transform: translate3d(calc(-100% + 4px), calc(-50% + 2px), 0)
          rotate3d(0, 0, 1, 32deg);
        border-color: transparent $green transparent transparent;
      }
    }
  }

  .points {
    flex-direction: column;
    margin: 0;
  }
  .point {
    margin: 0;
    width: 100%;
    &:not(:first-of-type) {
      margin-top: 8px;
    }
  }

  .item {
    padding: 8px 16px;
    width: 100%;
    height: initial;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    &__icon {
      margin-bottom: 0;
      margin-right: 8px;
    }
    &__text {
      flex-grow: 1;
      white-space: inherit;
      text-align: left;
      height: initial;
      font-size: $fontSizeSm;
    }
  }
}

@keyframes ukuki {
  0% {
    transform: translate3d(0, 0, 0);
  }
  // 12% {
  //   transform: translate3d(0, 0, 0);
  // }
  20% {
    transform: translate3d(0, -6px, 0);
  }
  35% {
    transform: translate3d(0, 0, 0);
  }
}
