@import '../../Foundation/variable';
@import '../../Foundation/animation';

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zIndexHeader;

  background: linear-gradient(
    -65deg,
    darken($green, 10%) 0 50%,
    $green2 50% 100%
  );
  transition: $transitionBasis * 2;
  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
  text-align: center;
}

.loader {
  display: inline-block;
  width: 48px;
  height: 48px;
  position: relative;
  border: 4px solid #fff;
  top: 50%;
  animation: loader 2s 5 ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loaderInner 2s 5 ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loaderInner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

// .centre {
//   position: fixed;
//   display: block;
//   left: 50%;
//   top: 50%;
// }
//
// .circle {
//   position: absolute;
//   width: 0.5em;
//   height: 0.5em;
//   opacity: 0;
//   animation-iteration-count: infinite;
//   animation-duration: 1.75s;
//   animation-direction: forward;
//   animation-timing-function: ease-out;
//   &::after,
//   &::before {
//     content: '';
//     display: block;
//     width: 100%;
//     height: 100%;
//   }
//
//   &::after {
//     box-shadow: 2px 2px 5px #aaa;
//     position: absolute;
//     border-radius: 50%;
//     background-color: white;
//   }
//
//   /* Shadow */
//   &::before {
//     left: 40%;
//     top: 40%;
//     position: absolute;
//     background: linear-gradient(to right, #999, transparent);
//     transform: rotate(45deg);
//     opacity: 0.3;
//   }
//
//   &.first {
//     z-index: 2;
//     animation-name: pulse;
//   }
//
//   &.second {
//     z-index: 3;
//     animation-name: pulse2;
//   }
// }
//
// @keyframes pulse {
//   0% {
//     opacity: 0;
//     margin-top: -0.25em;
//     margin-left: -0.25em;
//     width: 0.5em;
//     height: 0.5em;
//   }
//
//   10% {
//     opacity: 1;
//   }
//
//   100% {
//     margin-top: -7.5em;
//     margin-left: -7.5em;
//     opacity: 1;
//     height: 15em;
//     width: 15em;
//   }
// }
//
// @keyframes pulse2 {
//   0%,
//   25% {
//     opacity: 0;
//     margin-top: -0.25em;
//     margin-left: -0.25em;
//     width: 0.5em;
//     height: 0.5em;
//   }
//
//   35% {
//     opacity: 1;
//   }
//
//   100% {
//     margin-top: -7.5em;
//     margin-left: -7.5em;
//     opacity: 1;
//     height: 15em;
//     width: 15em;
//   }
// }

// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
//
// .panel-wrap {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
//
// .panel {
//   display: table;
//   width: 200px;
//   height: 80px;
//   padding: 0px 30px;
//
//   background-color: #ddd;
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0px 2px 0px 0px rgba(238, 238, 238, 1),
//     0px 1px 1px rgba(0, 0, 0, 0.4);
//   -moz-box-shadow: inset 0px 2px 0px 0px rgba(238, 238, 238, 1),
//     0px 1px 1px rgba(0, 0, 0, 0.4);
//   box-shadow: inset 0px 2px 0px 0px rgba(238, 238, 238, 1),
//     0px 1px 1px rgba(0, 0, 0, 0.4);
//
//   animation: bounce 2s ease infinite;
// }
//
// .panel span {
//   display: table-cell;
//   vertical-align: middle;
// }
//
// .panel h3 {
//   color: #666;
//   text-align: center;
//   text-transform: uppercase;
//   font-family: 'Montserrat';
//   font-weight: bold;
// }
//
// .shadow {
//   position: absolute;
//   width: 175px;
//   height: 20px;
//   bottom: -15%;
//   left: 50%;
//   transform: translateX(-50%);
//
//   border-radius: 50%;
//   background-color: #464646;
//   opacity: 0.2;
//
//   transform-origin: -50% -50%;
//   animation: pulsate 2s ease infinite;
//
//   z-index: -1;
// }
//
// @keyframes bounce {
//   50% {
//     transform: translateY(-20px);
//   }
// }
//
// @keyframes pulsate {
//   0% {
//     opacity: 0;
//   }
//
//   50% {
//     transform: scale(0.5);
//     opacity: 0.2;
//   }
//
//   100% {
//     opacity: 0;
//   }
// }
