@import '../../Foundation/variable';
@import '../../Foundation/mixin';

.root {
  margin: 0;
  @include bgGradient();
  box-shadow: $shadow4;
  width: $spaceBasis * 28;
  height: $spaceBasis * 28;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;

  @include gradientModifier();
}

.text {
  font-size: $fontSizeSm;
  font-weight: bold;
  letter-spacing: 0.12em;
}

@include media('sm') {
  .text {
    font-size: 12px;
    letter-spacing: 0.02em;
  }

  .root {
    width: $spaceBasis * 23;
    height: $spaceBasis * 23;
  }
}
