@font-face {
  font-family: 'Noto Sans JP';
  src: url('../../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans JP Light';
  src: url('../../fonts/Noto_Sans_JP/NotoSansJP-Light.otf') format('opentype');
}
