$blue: #1d86cc;
$green: #3bb95b;
$lightGreen: #23e775;
$primaryColor: $green;
$primaryDark: darken($primaryColor, 20%);
$black: #404040;
$lightGrey: #f5f5f5;
$white: #ffffff;

// font-family
$fontFamilyBasis: 'Noto Sans JP', Roboto, sans-serif;

// size
$baseWidth: 1280px;
$headerHeight: 64px;
// breakpoints
$breakpoints: (
  'sm': 'screen and (min-width: 600px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1280px)',
) !default;
