@import '../Foundation/variable';
@import '../Foundation/mixin';

$pointWidth: 300px;
$pointHeight: 170px;

.root {
  display: flex;
  height: 100%;
  position: relative;
  &.even {
    .inner {
      justify-content: flex-start;
    }
    .first {
      order: 2;
      &::after {
        left: 0;
        right: initial;
        transform: translate3d(-100%, 0, 0);
        border-width: 32px 32px 32px 0;
        border-color: transparent $darkGreen transparent transparent;
      }
    }
    .central-icon {
      left: 0;
      right: initial;
      transform: translate3d(-50%, -50%, 0);
    }
    .body {
      margin: 0 90px 0 auto;
    }
  }
}
.inner {
  flex: 1 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 80px 0;
}
.content {
  padding: 120px;
  max-width: 1000px;
}
.first {
  background: $darkGreen;
  color: $white;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate3d(100%, 0, 0);
    width: 0;
    height: 0;
    border-width: 32px 0 32px 32px;
    border-style: solid;
    border-color: transparent transparent transparent $darkGreen;
    z-index: 2;
  }
}
.description {
  line-height: 1.8;
  margin: 60px 0 0;
  word-break: break-all;
  white-space: pre-wrap;
}
.second {
  background: $creamGreen;
  z-index: 1;
}

.feature-name {
  color: $darkGreen;
  text-align: center;
  font-size: $titleSizeKing;
  font-family: $fontFamilyTitle;
  letter-spacing: 0.1em;
  padding-bottom: 44px;
  margin-bottom: 44px;
}
.feature-name-text {
  position: relative;
  &::before {
    content: '- ' attr(data-subja) ' -';
    position: absolute;
    bottom: -12px;
    right: 50%;
    transform: translate3d(50%, 0, 0);
    font-size: $fontSizeSm;
    word-break: keep-all;
    white-space: nowrap;
    letter-spacing: 0.1em;
  }
}

.body {
  width: 100%;
  max-width: 770px;
  margin: 0 auto 0 90px;
}

.points {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.point {
  width: 240px;
  margin: 8px;
}

.panel-wrap {
  height: 100%;
  width: 100%;
}

@include media('xl') {
  .inner {
    justify-content: center;
  }
}

@include media('lg') {
  .root {
    &.even {
      .body {
        margin: 0 48px 0 auto;
      }
    }
  }
  .inner {
    justify-content: center;
  }
  .content {
    padding: 48px;
  }
  .body {
    margin: 0 auto 0 48px;
  }
}

@include media() {
  .root {
    flex-direction: column;
    &.even {
      .inner {
        justify-content: center;
      }
      .body {
        margin: 44px auto;
      }
      .central-icon {
        position: absolute;
        top: initial;
        left: 50%;
        bottom: 0;
        transform: translate3d(-50%, 50%, 0);
      }
      .first {
        order: 0;
        &::after {
          top: initial;
          left: 50%;
          bottom: 0;
          transform: translate3d(-50%, 100%, 0);
          border-width: 32px 32px 0 32px;
          border-color: $darkGreen transparent transparent transparent;
        }
      }
    }
  }
  .inner {
    width: 100%;
    padding: 0;
    display: block;
    justify-content: center;
  }
  .first {
    order: 0;
    &::after {
      top: initial;
      left: 50%;
      bottom: 0;
      transform: translate3d(-50%, 100%, 0);
      border-width: 32px 32px 0 32px;
      border-color: $darkGreen transparent transparent transparent;
    }
  }
  .title-wrap {
    display: flex;
    justify-content: center;
  }

  .description {
    max-width: 400px;
    margin: 40px auto 0;
  }

  .body {
    margin: 44px auto;
  }

  .feature-name {
    padding-bottom: 24px;
    margin-bottom: 36px;
  }
}

@include media('sm') {
  .feature-name {
    font-size: $titleSizeXl;
    padding: 20px 28px 36px;
  }
  .feature-name-text {
    &::before {
      bottom: -16px;
    }
  }
  .content {
    padding: 60px 30px;
  }

  .points {
    max-width: $pointWidth;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: initial;
  }
  .point:not(:last-of-type) {
    margin-bottom: 30px;
  }
}
