@import '../Foundation/variable';
@import '../Foundation/mixin';

$pointWidth: 300px;
$pointHeight: 170px;

.root {
  display: flex;
  height: 100%;
  position: relative;
  &.even {
    .inner {
      justify-content: flex-start;
    }
    .first {
      order: 2;
    }
    .feature-name {
      left: initial;
      right: -120px;
      text-align: right;
    }
    .central-icon {
      left: 0;
      right: initial;
      transform: translate3d(-50%, -50%, 0);
    }
    .points {
      right: -120px;
      left: initial;
      // transform: translate3d(124%, 0, 0);
    }
    .point {
      margin: 30px auto 0 0;
    }
  }
}
.inner {
  flex: 1 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 200px 0;
}
.content {
  padding: 120px;
  max-width: 1000px;
}
.first {
  // background: $primaryColor;
  color: $white;
  @include colorModifier();
}
.description {
  line-height: 1.8;
  margin: 60px 0 0;
  word-break: break-all;
  white-space: pre-wrap;
}
.second {
  @include bgModifier();
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;
    opacity: 0.2;
    z-index: -1;
  }
}

.feature-name {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @include bgGradient();
    opacity: $opacityImcompletion - 0.2;
    z-index: -1;
  }
  max-width: 1000px;
  position: absolute;
  top: 90px;
  left: -120px;
  width: 100%;
  padding: 20px 60px 32px;
  text-align: left;
  color: $white;
  font-size: $titleSizeKing;
  letter-spacing: 0.1em;
  font-family: $fontFamilyTitle;
  z-index: 1;
}
.feature-name-text {
  position: relative;
  &::before {
    content: '- ' attr(data-subja) ' -';
    position: absolute;
    bottom: -12px;
    right: 50%;
    transform: translate3d(50%, 0, 0);
    font-size: $fontSizeSm;
    color: darken($white, 5%);
    letter-spacing: 0;
    word-break: keep-all;
    white-space: nowrap;
    letter-spacing: 0.1em;
  }
}

.central-icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate3d(50%, -50%, 0);
  z-index: 2;
}

.panel-wrap {
  height: $pointHeight;
  width: 100%;
}
.points {
  max-width: 1000px;
  width: 100%;
  position: absolute;
  top: 210px;
  left: -120px;
  // transform: translate3d(124%, 0, 0);
}
.point {
  margin: 40px 0 0 auto;
  width: 300px;
}

@include media('xl') {
  .inner {
    justify-content: center;
  }
}

@include media('lg') {
  .root {
    &.even {
      .point {
        margin: 12px auto 0 0;
      }
    }
  }
  .inner {
    justify-content: center;
  }
  .content {
    padding: 48px;
  }
  .point {
    margin: 12px 0 0 auto;
  }
}

@include media() {
  .root {
    flex-direction: column;
    &.even {
      .inner {
        justify-content: center;
      }
      .feature-name {
        margin-top: 96px;
        position: relative;
        top: initial;
        left: initial;
        bottom: initial;
        right: initial;
        text-align: center;
        width: 100%;
      }
      .central-icon {
        position: absolute;
        top: initial;
        left: 50%;
        bottom: 0;
        transform: translate3d(-50%, 50%, 0);
      }
      .first {
        order: 0;
      }
      .points {
        position: initial;
        top: initial;
        left: initial;
        max-width: initial;
      }
      .point {
        margin: initial;
      }
    }
  }
  .inner {
    width: 100%;
    padding: 0;
    display: block;
    justify-content: center;
  }
  .first {
    order: 0;
  }
  .title-wrap {
    display: flex;
    justify-content: center;
  }
  .feature-name {
    margin-top: 96px;
    text-align: center;
    top: initial;
    left: initial;
    bottom: initial;
    right: initial;
    position: relative;
    width: 100%;
  }
  .central-icon {
    position: absolute;
    top: initial;
    bottom: 0;
    right: initial;
    left: 50%;
    transform: translate3d(-50%, 50%, 0);
  }

  .description {
    max-width: 400px;
    margin: 40px auto 0;
  }

  .body {
    // margin: 40px 0;
  }

  .points {
    position: initial;
    top: initial;
    left: initial;
    max-width: initial;
    display: flex;
    width: 100%;
    height: 340px;
  }

  .point {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
    max-width: initial;
    flex-direction: column;
    margin: initial;
    &:nth-of-type(2) {
      justify-content: flex-end;
    }
  }
}

@include media('sm') {
  .root.even {
    .points {
      max-width: $pointWidth;
    }
    .point:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
  .feature-name {
    font-size: $titleSizeXl;
    padding: 20px 28px 36px;
  }
  .feature-name-text {
    &::before {
      bottom: -16px;
    }
  }
  .content {
    padding: 60px 30px;
  }

  .body {
    margin: 40px 0 45px;
  }

  .points {
    max-width: $pointWidth;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: initial;
  }
  .point:not(:last-of-type) {
    margin-bottom: 30px;
  }
}
