@import '../Foundation/variable';
@import '../Foundation/mixin';

.root {
  display: flex;
}

.head {
  background: $primaryColor;
  color: $white;
  width: 100%;
  margin-bottom: $headerHeight;
}

.body {
  flex-grow: 1;
}
.main {
}
.tail {
  flex-shrink: 0;
}

// @include media() {
//   .head {
//     margin-bottom: 64px;
//   }
// }
