@import '../../Foundation/variable';
@import '../../Foundation/mixin';
@import '../../Foundation/animation';

.root {
  position: fixed;
  bottom: 16px;
  right: 40px;
  padding: 16px;
  background: $green;
  z-index: $zIndexHeader;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-radius: $radiusBasis;
  transition: $transitionBasis;
  transition-delay: $transitionBasis;
}
.contents {
  color: $white;
}
.text {
  margin-bottom: 12px;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate3d(50%, -50%, 0);
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 9999px;
  cursor: pointer;
  background: #dddddd;
}
.close-icon {
  width: 24px;
  height: 24px;
}

@include media() {
  .root {
    right: 16px;
    padding: 8px 12px;
  }
  .text {
    font-size: $fontSizeSm;
  }
}

@include media('sm') {
  .root {
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
  }
  .text {
    font-size: $fontSizeSm;
    text-align: center;
    margin-bottom: 8px;
  }
  .close {
    transform: translate3d(0, -50%, 0);
  }
}
