@import '../../Foundation/variable';
@import '../../Foundation/mixin';

.p-toplined-paper {
  width: 100%;
  height: 100%;
  min-width: 180px;
  max-width: 500px;
  z-index: 1;
  padding: 0;
  position: relative;
  &::after {
    content: '';
    opacity: $opacityImcompletion;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: $white;
    box-shadow: $shadow2;
  }
  &__title {
    padding: 12px;
    line-height: 1;
    letter-spacing: 0.02em;
    font-size: $titleSizeXl;
    font-family: $fontFamilyTitle;
    color: $darkGreen;
    position: relative;
    &-line {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 4px;
      display: block;
      background: $darkGreen;
    }
    &-index {
      margin-left: 4px;
    }
  }
  &__icon {
    width: 100%;
    height: 120px;
    // margin: 24px 0;
    @include bgImageStyle(160px);
  }

  &__body {
    padding: 12px;
    opacity: $opacityImcompletion;
    color: $darkGreen;
    font-size: $fontSizeSm;
  }
}
