@import '../../Foundation/variable';
@import '../../Foundation/mixin';
@import '../../Foundation/animation';

.root {
  width: 100%;
}
.title {
  text-align: center;
  font-family: $fontFamilyTitle;
  font-size: $titleSizeXl;
  line-height: 1;
  margin: 0 -12px 8px;
}

.description {
  margin: 12px 0 0;
  font-size: $fontSizeSm;
  line-height: 1.5;
}

@include media() {
  .description {
    margin: 12px -28px 0;
    font-size: $fontSizeSm;
    line-height: 1.5;
  }
}
