@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin/modifier" as *;
@use "../../Foundation/mixin/accessibility" as *;
@use "c-button";

.c-border-button {
  @apply text-primary bg-bc-sheet border border-primary py-1.5 px-5 rounded shadow-md
    relative duration-basis overflow-hidden;

  min-width: 8rem;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  .c-border-button__icon {
    fill: currentcolor;
  }

  .c-border-button__effect {
    // @extend .effect-style;
    @apply block absolute pointer-events-none bg-white delay-100;

    top: -140px;
    left: -140px;
    width: 280px;
    height: 280px;
    border-radius: 140px;
  }

  // ====================
  // ローダー
  // ====================
  .c-border-button__loader {
    @apply flex justify-center items-center
      absolute top-0 left-0 w-full h-full pointer-events-none opacity-0;

    &.--active {
      @apply opacity-100;
    }
  }

  .c-border-button__loader-icon {
    @apply origin-center delay-100 w-6 h-6 rounded-full
      border-2 border-t-transparent border-r-primary border-b-primary border-l-primary;

    animation: spin 800ms ease 100ms infinite;

    @include colorModifierByPaletteName(("border-r", "border-b", "border-l"));
  }

  // ====================
  // Modifier
  // ====================
  @include colorModifierByPaletteName(("text", "border"), (
    "disabledNone"
  ));
  @include roundFullModifier;
  @include sizeModifier;

  @include loadingModifier {
    @apply bg-disabled border-disabled text-disabled-dark pointer-events-none;

    background-image: none !important;
  }

  @include onHover {
    @apply text-white bg-primary border-primary;
    @include colorModifierByPaletteName(("bg", "border"), (
      "usingText"
    ));

    will-change: transform, animation;
  }
}
