@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin/modifier" as *;
@use "../../Foundation/mixin/accessibility" as *;
@use "../../Foundation/function/accessibility" as *;
@use "c-button";

.c-border-button {
  @apply text-primary bg-bc-sheet border border-primary rounded shadow-md
    relative duration-basis overflow-hidden;

  min-width: px(120);
  padding: px(6) px(20);
  font-size: px(14);
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  .c-border-button__icon {
    fill: currentcolor;
  }

  .c-border-button__effect {
    @extend .effect-style;
    @apply bg-primary;
  }

  @each $p in $semanticPalette {
    @each $t in $theme {
      &.--#{$p},
      &.--#{$p}-#{$t} {
        .c-border-button__effect {
          @apply bg-#{$p};
        }
      }
    }
  }

  // ====================
  // ローダー
  // ====================
  .c-border-button__loader {
    @apply flex justify-center items-center
      absolute top-0 left-0 w-full h-full pointer-events-none opacity-0;

    &.--active {
      @apply opacity-100;
    }
  }

  // ====================
  // Modifier
  // ====================
  @include colorModifierByPaletteName(("text", "border"), (
    "disabledNone"
  ));
  @include roundFullModifier;
  @include sizeModifier("button");

  @include loadingModifier {
    @apply bg-disabled border-disabled text-disabled-dark pointer-events-none;

    background-image: none !important;
  }

  @include onHover {
    @apply opacity-70;

    will-change: transform, animation;
  }

  &.--flat {
    @apply shadow-none;
  }
}
