@use "../../Foundation/mixin/accessibility" as *;
@use "../../Foundation/mixin/modifier" as *;
@use "../../Foundation/mixin/gradient" as *;

.loader-icon-style {
  @apply origin-center
    w-6 h-6 rounded-full border-2 border-t-transparent border-r-primary border-b-primary border-l-primary;

  // perspective: 1000;
  // transform-style: flat;
  animation: spin 800ms ease infinite;

  // backface-visibility: hidden;

  @include colorModifierByPaletteName(("border-r", "border-b", "border-l"));

  // @include sizeModifier;
}

// ====================
// リップル
// ====================
.effect-style {
  @apply block absolute pointer-events-none bg-white;

  will-change: transform;
  top: -140px;
  left: -140px;
  width: 280px;
  height: 280px;
  border-radius: 140px;
}

.c-button {
  @apply text-white bg-primary border border-primary py-1.5 px-5 rounded shadow-md
    relative duration-basis overflow-hidden;

  min-width: 8rem;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  .c-button__icon {
    fill: currentcolor;
  }

  .c-button__effect {
    @extend .effect-style;
  }

  // ====================
  // ローダー
  // ====================
  .c-button__loader {
    @apply flex justify-center items-center
      absolute top-0 left-0 w-full h-full;
  }

  .c-button__loader-icon {
    @extend .loader-icon-style;
  }

  // ====================
  // Modifier
  // ====================
  @include onHover {
    @apply opacity-70;
  }

  @include colorModifierByPaletteName(("bg", "border"), (
    "usingText",
    "disabledNone"
  ));
  @include roundFullModifier;
  @include sizeModifier;

  @include loadingModifier {
    @apply bg-disabled border-disabled text-disabled-dark pointer-events-none;

    background-image: none !important;
  }

  &.--signup {
    @apply border-transparent;
    @include gradient("secondary");

    @include onHover {
      @apply opacity-80;
    }
  }

  &.--signin {
    @apply border-transparent;
    @include gradient;

    @include onHover {
      @apply opacity-80;
    }
  }
}
