@use "../../Foundation/mixin/accessibility" as *;
@use "../../Foundation/mixin/modifier" as *;
@use "../../Foundation/mixin/gradient" as *;

.loader-icon-style {
  @apply absolute block top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-primary font-bold;

  animation: spin 800ms linear infinite;

  @include colorModifierByPaletteName(("text"));
  @include sizeModifier;
}

.c-button {
  @apply text-white bg-primary border border-primary py-1.5 px-5 rounded shadow-md
    relative duration-basis overflow-hidden;

  min-width: 8rem;
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  .c-button__icon {
    fill: currentcolor;
  }

  // ====================
  // リップル
  // ====================
  .c-button__effect {
    @apply block absolute pointer-events-none bg-white;

    top: -140px;
    left: -140px;
    width: 280px;
    height: 280px;
    border-radius: 140px;
  }

  // ====================
  // ローダー
  // ====================
  .c-button__loader {
    @extend .loader-icon-style;
  }

  // ====================
  // Modifier
  // ====================
  @include onHover {
    @apply bg-opacity-80;
  }

  @include colorModifierByPaletteName(("bg", "border"), (
    "usingText", "disabledNone", "accessHover"
  ));

  &.--disabled {
    @apply text-disabled-dark;
  }

  @include roundFullModifier;
  @include sizeModifier;

  @include loadingModifier {
    @apply bg-disabled-light border-disabled-light text-disabled pointer-events-none;
  }

  &.--signup {
    @apply border-transparent;
    @include gradient("secondary");

    @include onHover {
      @apply opacity-80;
    }
  }

  &.--signin {
    @apply border-transparent;
    @include gradient;

    @include onHover {
      @apply opacity-80;
    }
  }
}
