@use "../../Foundation/mixin/accessibility" as *;
@use "../../Foundation/function/accessibility" as *;
@use "../../Foundation/variable" as *;

.c-header-link {
  @apply block text-fc-accent duration-basis transition-all;

  padding: px(6) #{px($fontSizeBasis)};
  font-size: px(14);

  @include onHover {
    @apply text-fc-link;
  }

  @include breakPoint("lg") {
    padding: px(12);
  }

  &.--current {
    @apply text-fc-link font-bold pointer-events-none;
  }
}
