@use "../../Foundation/mixin/accessibility" as *;
@use "../../Foundation/function/accessibility" as *;
@use "../../Foundation/mixin/modifier" as *;
@use "../../Foundation/mixin/gradient" as *;
@use "../../Foundation/variable" as *;

// ====================
// リップル
// ====================
.effect-style {
  @apply block absolute pointer-events-none bg-white;

  top: -140px;
  left: -140px;
  width: 280px;
  height: 280px;
  border-radius: 140px;
}

.c-icon-button {
  @apply text-white bg-primary border border-primary rounded shadow-md
    relative duration-basis overflow-hidden;

  padding: px(6);
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  .c-icon-button__icon {
    fill: currentcolor;
  }

  .c-icon-button__effect {
    @extend .effect-style;
  }

  .c-icon-button__body {
    font-size: 150%;
  }

  .c-icon-button__text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    border: 0;
  }

  // ====================
  // ローダー
  // ====================
  .c-icon-button__loader {
    @apply flex justify-center items-center
      absolute top-0 left-0 w-full h-full pointer-events-none opacity-0;

    &.--active {
      @apply opacity-100;
    }
  }

  // ====================
  // Modifier
  // ====================
  @include onHover {
    @apply opacity-70;

    will-change: transform, animation;
  }

  @include colorModifierByPaletteName(("bg", "border"), (
    "usingText",
    "disabledNone"
  ));
  @include roundFullModifier;

  @each $key, $list in $sizes {
    &.--#{$key} {
      @if $key == xs {
        @apply shadow-sm;
      } @else {
        @apply shadow-#{$key};
      }

      padding: px($key, "space");
      font-size: px($key, "font-size");
    }
  }

  @include loadingModifier {
    @apply bg-disabled border-disabled text-disabled-dark pointer-events-none;

    background-image: none !important;
  }

  &.--signup {
    @apply border-transparent;
    @include gradient("secondary");

    @include onHover {
      @apply opacity-80;
    }
  }

  &.--signin {
    @apply border-transparent;
    @include gradient;

    @include onHover {
      @apply opacity-80;
    }
  }

  &.--flat {
    @apply shadow-none;
  }
}
