@use "../../Foundation/variable" as *;
@use "../../Foundation/function/accessibility" as *;

.c-toggle {
  @apply flex items-center bg-disabled rounded-full relative shadow-md cursor-pointer;

  width: px(36);
  height: px($fontSizeBasis);

  &:focus-visible {
    @apply outline-2 outline-primary;
  }

  .c-toggle__ball {
    will-change: transform;
    width: px($fontSizeBasis);
    height: px($fontSizeBasis);

    @apply inline-block scale-125 origin-center
      rounded-full bg-white duration-basis transition-transform;
  }

  &.--on {
    @apply bg-primary border-primary;

    .c-toggle__ball {
      transform: translate3d(px(20), 0, 0) scale3d(1.25, 1.25, 1.25);
    }
  }
}
