@import '../../Foundation/variable';
@import '../../Foundation/mixin';
@import '../../Foundation/animation';

.u-animation {
  &__bound {
    &.--reached {
      animation: bound 0.3s 4s infinite linear alternate;
    }
  }
  &__pop-up {
    opacity: 0;
    transform: translate3d(0, 32px, 0);
    pointer-events: none;
    &.--reached {
      animation: popUp 0.6s ease-out forwards;
      animation-delay: 0.75s;
      pointer-events: initial;
      @include animationDelayModifier();
    }
  }
  &__pop-out {
    &.--left.--reached {
      transform: translate3d(0, 0, 0);
      animation: popOut 0.6s ease-out forwards;
      pointer-events: none;
      @include animationDelayModifier();
    }
  }
  &__pop-down {
    opacity: 0;
    transform: translate3d(0, -16px, 0);
    &.--reached {
      animation: popdown 1s 3s ease-out forwards,
        bound 0.3s 4s infinite linear alternate;
    }
  }
  &__fade-in {
    opacity: 0;
    &.--reached {
      animation: fadeIn 1s ease-out forwards;
      &.u-animation__bound {
        animation: fadeIn 1s 3s ease-out forwards,
          bound 0.3s 4s infinite linear alternate;
      }
    }
  }
  &__scale-in {
    transition: 0.6s;
    -webkit-transition: 0.6s;
    transform: scale3d(0, 0, 0);
    &.--reached {
      animation: scaleIn 0.6s ease-in-out forwards;
      animation-delay: $transitionBasis;
      -webkit-animation-delay: $transitionBasis;
    }
  }
}
