.u-flex {
  display: flex;
  align-items: flex-start;
  &__align-center {
    display: flex;
    align-items: center;
  }
  &__justify-center {
    display: flex;
    justify-content: center;
  }

  &__stretch {
    align-items: stretch;
  }
  &__static {
    flex-shrink: 0;
  }

  @include gap();
}
.gap-2 {
  gap: 8px;
}
