@import '../../Foundation/variable';
@import '../../Foundation/mixin';

.u-fs-12 {
  font-size: $fontSizeSm;
}
.u-fs-sm {
  font-size: $fontSizeSm;
  @include media('sm') {
    font-size: $fontSizeXs;
  }
}
