@import '../../Foundation/variable';
@import '../../Foundation/animation';

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.u-container {
  width: 100%;
  max-width: $baseWidth;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

.u-text-center {
  text-align: center;
}
.u-text-right {
  text-align: right;
}

.u-animation-fadein {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
}
