@use "../../Foundation/function/accessibility" as *;
@use "../../Foundation/variable" as *;

.u-static-200 {
  width: px(200);
  padding: 1rem;
  padding: px(16);
  background: var(--bg-color-sheet);
  border-width: px(4);
}

.u-width-8 {
  min-width: 8rem;
}
