@use "../Foundation/variable" as *;
@use "../Foundation/mixin/accessibility" as *;
@use "../Foundation/function/accessibility" as *;

.l-app {
  @apply grid min-h-screen text-fc-basis bg-bc-basis;

  grid-template: #{px($headerHeight)} 1fr #{px($footerHeight)} / 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100dvh;

  .l-app__header {
    @apply shadow-md fixed w-full bg-bc-sheet grid content-center grid-flow-col z-#{$zIndexHeader};

    grid-area: header;
    height: px($headerHeight);
  }

  .l-app__main {
    grid-area: main;
    padding: px(28) 0;
  }

  .l-app__footer {
    @apply bg-accent-blind text-white;

    grid-area: footer;
  }

  .l-app__snackbar {
    @apply fixed;

    right: px(16);
    bottom: px(16);
  }

  &.--mypage {
    grid-template:
      #{px($headerHeight)} 1fr #{px($footerHeight)} /
      minmax(#{px($sideMenuWidthSlim)}, #{px($sideMenuWidth)}) 1fr;
    grid-template-areas:
      "sidemenu header"
      "sidemenu main"
      "sidemenu footer";

    .l-app__header {
      padding-left: px($sideMenuWidth);
    }

    .l-app__side {
      @apply fixed top-0 bottom-0 z-#{$zIndexSideMenu};

      grid-area: sidemenu;
      width: px($sideMenuWidth);
    }

    @include breakPoint("lg") {
      grid-template: #{px($headerHeight)} 1fr #{px($footerHeight)} / 1fr;
      grid-template-areas:
        "header"
        "main"
        "footer";

      .l-app__header {
        padding-left: 0;
      }

      .l-app__side {
        @apply hidden;
      }
    }
  }
}
