@use "../Foundation/function/accessibility" as *;
@use "../Foundation/variable" as *;

.l-sidemenu {
  @apply h-full;

  color: #f3f4f6;
  background: #222a40;

  .l-sidemenu__head {
    @apply text-center;
  }

  .l-sidemenu__top-link {
    @apply block;

    padding: px(12);
  }

  .l-sidemenu__body {
    padding: px($fontSizeBasis);
  }

  .l-sidemenu__bottom {
    padding: px($fontSizeBasis);
  }
}
