@use "../Foundation/function/accessibility" as *;
@use "../Foundation/mixin/accessibility" as *;
@use "../Foundation/variable" as *;

.l-sidemenu {
  @apply h-full w-full bg-bc-sheet flex flex-col;

  .l-sidemenu__head {
    @apply grid place-content-center text-fc-accent shrink-0;

    height: px($headerHeight);
  }

  .l-sidemenu__body {
    @apply border-r border-r-line grow shadow-lg;
  }

  .l-sidemenu__section {
    @apply border-t border-t-line;

    &.--bottom {
      padding: px($fontSizeBasis);
    }
  }

  .l-sidemenu__top-link {
    @apply block;
  }

  .l-sidemenu__nav {
    @apply text-fc-secondary;

    padding: px(16) 0;
  }

  .l-sidemenu__item:not(:first-of-type) {
    margin-top: px(8);
  }

  .l-sidemenu__link {
    @apply flex items-center gap-2 duration-basis;

    padding: px(10) px($fontSizeBasis);
    border-color: transparent;
    border-style: solid;
    border-width: 0 4px;

    @include onHover {
      @apply border-fc-accent text-fc-accent bg-disabled;

      border-color: transparent var(--font-color-accent) transparent var(--font-color-accent);
    }

    &.--current {
      @apply border-fc-accent text-fc-accent bg-disabled pointer-events-none;

      border-color: transparent var(--font-color-accent) transparent var(--font-color-accent);
    }
  }

  .l-sidemenu__details {
    transition-property: all;

    .l-sidemenu__summary {
      @apply relative flex justify-between items-center;

      padding: px(10) px($fontSizeBasis) px(10);
      border-color: transparent;
      border-style: solid;
      border-width: 0 4px;
    }

    &[open] {
      .l-sidemenu__summary {
        .l-sidemenu__summary-icon {
          transform: rotate3d(0, 0, 1, 180deg);
        }
      }
    }
  }

  .l-sidemenu__children {
    .l-sidemenu__link {
      padding: px(8) px($fontSizeBasis) px(8) px($fontSizeBasis * 2);
      font-size: px(14);
    }
  }

  @include breakPoint("lg") {
    width: calc(90dvw - #{px($headerHeight)});
    max-width: px($sideMenuWidth);
  }
}
