@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin/accessibility" as *;
@use "../../Foundation/function/accessibility" as *;

.p-auth-menu {
  @apply relative rounded bg-accent text-white opacity-0 duration-basis;

  min-width: px(200);

  &::after {
    @apply absolute w-0 h-0 translate-x-1.5;

    top: px(- 12);
    right: px(18);
    content: "";
    border-color: transparent transparent $accent;
    border-style: solid;
    border-width: 0 px(4) px(12);
  }

  .p-auth-menu__head {
    @apply border-b border-b-white;

    min-height: px(48);
    padding: px(12);
  }

  .p-auth-menu__body {
    padding: px(8) 0;
  }

  .p-auth-menu__link {
    @apply w-full text-white duration-basis transition-all text-left;

    padding: px(6) px(12);

    @include onHover {
      @apply text-fc-link;
    }
  }

  &.--open {
    @apply opacity-100;
  }
}
