@use "../../Foundation/variable" as *;
@use "../../Foundation/mixin/accessibility" as *;
@use "../../Foundation/function/accessibility" as *;

.p-card {
  @apply rounded shadow;

  min-width: px(140);
  max-width: 100%;
  background: var(--bg-color-sheet);

  .p-card__inner {
    padding: px($spaceBasis);
  }

  &.--space-lg {
    .p-card__inner {
      padding: px(20);
    }
  }

  .p-card__grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(px(140), 1fr));
    grid-gap: px(8);
    grid-row-gap: px(8);
  }

  @include breakPoint {
    .p-card__grid {
      grid-template-columns: repeat(auto-fill, minmax(px(140), 1fr));
    }
  }
}
