@use "../../Foundation/variable" as *;

.p-card {
  @apply rounded shadow-md p-4;

  min-width: 10rem;
  max-width: 100%;
  background: var(--bg-color-sheet);

  &.--space-lg {
    @apply p-6;
  }

  .p-card__grid {
    @apply grid grid-cols-5 gap-x-2 gap-y-4;

    > * {
      align-self: start;
    }
  }
}
