@use "../../Foundation/mixin/accessibility" as *;
@use "../../Foundation/function/accessibility" as *;
@use "../../Foundation/variable" as *;

.p-hamburger {
  z-index: 1;

  .p-hamburger__toggler {
    @apply hidden;

    -webkit-tap-highlight-color: transparent;
  }

  .p-hamburger__toggler-line {
    @apply w-full block bg-fc-basis duration-300;

    height: px(1);
    transition-property: transform;
    transform-origin: center;

    &:not(:first-of-type) {
      margin-top: px(7);
    }
  }

  @include breakPoint("lg") {
    @apply flex items-center justify-end relative;

    height: px($headerHeight);

    .p-hamburger__toggler {
      @apply block;

      width: px(32);
    }

    .p-hamburger__content {
      @apply fixed top-0 left-0 bottom-0 w-full transition-transform duration-300;

      z-index: -1;
      margin-top: px($headerHeight);
      transform: translate3d(-100%, 0, 0);
    }

    &.--open {
      .p-hamburger__content {
        transform: none;
      }

      .p-hamburger__toggler-line {
        &:nth-of-type(1) {
          transform: translate3d(0, px(8), 0) rotate3d(0, 0, 1, 225deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          transform: translate3d(0, px(- 8), 0) rotate3d(0, 0, 1, 315deg);
        }
      }
    }
  }
}
