@use "../../Foundation/mixin/accessibility" as *;

.p-hamburger {
  z-index: 1;

  .p-hamburger__toggler {
    @apply hidden;

    -webkit-tap-highlight-color: transparent;
  }

  .p-hamburger__toggler-line {
    @apply w-full block bg-fc-basis duration-300;

    height: 0.1rem;
    transition-property: transform;
    transform-origin: center;

    &:not(:first-of-type) {
      margin-top: 7px;
    }
  }

  @include breakPoint("lg") {
    @apply flex items-center justify-end relative h-16;

    .p-hamburger__toggler {
      @apply block w-9;
    }

    .p-hamburger__content {
      @apply fixed top-0 left-0 bottom-0 w-full pt-16 transition-transform duration-300;

      z-index: -1;
      transform: translate3d(-100%, 0, 0);
    }

    &.--open {
      .p-hamburger__content {
        transform: none;
      }

      .p-hamburger__toggler-line {
        &:nth-of-type(1) {
          transform: translate3d(0, 0.6rem, 0) rotate3d(0, 0, 1, 225deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          transform: translate3d(0, -0.6rem, 0) rotate3d(0, 0, 1, 315deg);
        }
      }
    }
  }
}
