@use "../../Foundation/mixin/accessibility" as *;
@use "../../Foundation/function/accessibility" as *;

.p-tooltip {
  @apply inline-block relative;

  @include onAllHover {
    .p-tooltip__body {
      @apply opacity-100;
    }
  }

  @include onVisible {
    .p-tooltip__target {
      @apply opacity-50;
    }
  }

  .p-tooltip__target {
    @apply duration-basis;
  }

  .p-tooltip__body {
    @apply absolute block whitespace-pre bg-accent text-white rounded
      opacity-0 duration-basis delay-basis transition-opacity  pointer-events-none;

    z-index: 1;
    padding: px(8);
    font-size: px(12);
  }
}
